.newsletter {
  color: #fff;
  padding-top: var(--base-body-border);
}

.newsletter fieldset {
  display: flex;
  justify-content: space-between;
}

.newsletter__info {
  letter-spacing: 0.1px;
}

.newsletter__form {
  display: flex;
  flex-direction: var(--news-f-dir);
}

.newsletter__email {
  height: var(--form-input-height);
  width: 165px;
}

.newsletter__submit {
  border-radius: 3px;
  height: var(--form-input-height);
  width: 72px;
  margin-left: 3px;
  text-transform: uppercase;
  font-size: 11px;
}