:root {
  --base-body-border: 16px;
  --font-bold: 700;
  --form-input-height: 30px;
  --plp-column: 100%;
  --is-menu-visible: none;
  --news-f-dir: column;
}

@media only screen and (min-width: 375px) {
  :root {
    --news-f-dir: row;
  }
}

@media only screen and (min-width: 650px) {
  :root {
    --plp-column: 50%;
  }
}

@media only screen and (min-width: 750px) {
  :root {
    --is-menu-visible: block;
  }
}

@media only screen and (min-width: 965px) {
  :root {
    --plp-column: 33.33%;
  }
}

@media only screen and (min-width: 1275px) {
  :root {
    --plp-column: 25%;
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    --plp-column: 20%;
  }
}

body,
input,
button {
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
}

input,
button {
  padding: 0;
  border: 1px solid #000;
  border-radius: 3px;
}

button,
input[type="button"] {
  font-size: 10px;
}

ul,
body,
fieldset {
  padding: 0;
  margin: 0;
}

.is-vHidden {
  display: block;
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

fieldset {
  border: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}