:root {
  --base-body-border: 16px;
  --col-q: 1;
  --font-bold: 700;
  --form-input-height: 30px;
}

@media only screen and (min-width: 650px) {
  :root {
    --col-q: 2;
  }
}

@media only screen and (min-width: 650px) {
  :root {
    --col-q: 2;
  }
}

@media only screen and (min-width: 965px) {
  :root {
    --col-q: 3;
  }
}

@media only screen and (min-width: 1275px) {
  :root {
    --col-q: 4;
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    --col-q: 5;
  }
}

body,
input,
button {
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
}

input,
button {
  padding: 0;
  border: 1px solid #000;
  border-radius: 3px;
}

button,
input[type="button"] {
  font-size: 10px;
}

ul,
body,
fieldset {
  padding: 0;
  margin: 0;
}

.is-vHidden {
  display: block;
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

fieldset {
  border: 0;
}
