.socials {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.social {
  color: #fff;
  font-size: 16px;
  font-weight: var(--font-bold);
  padding-left: 5px;
  text-transform: lowercase;
}