.header {
  background-color: #fff;
  height: 50px;
  border-bottom: 1px solid #000;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--base-border);
}