.slider,
.slider__slides,
.slider__wrapper {
  display: flex;
}

.slider {
  width: 100%;
  margin-top: 8px;
  height: 50px;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.slider__slides {
  flex-grow: 1;
  width: 71.6%;
  overflow: hidden;
}

.slider__wrapper {
  flex-wrap: nowrap;
  position: relative;
}

.slider__slide {
  position: relative;
  margin-right: 16px;
  width: 80px;
}

.slider__slide:last-child {
  margin-right: 0;
}

.slider__slide__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.slider__btn {
  height: 15px;
  border: 1px solid #cecece;
  width: 15px;
  align-self: center;
}

.slider__btn .icon::before {
  content: '>';
}

.slider__btn--prev {
  margin-right: 10px;
  margin-left: 25px;
}

.slider__btn--prev .icon::before {
  content: '<';
}

.slider__btn--next {
  margin-right: 25px;
  margin-left: 10px;
}

.slider__slide__index  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}